dist
boxProduct
*.prof
boxWorldGenerator
.exrc
logicChecks
tags
research/greechie
src/concrete
src/statetests
BoxWorld-old.hs
concrete3
.cabal-sandbox
cabal.sandbox.config
src/#concrete.hs#
src/22boxworld
src/22boxworld.lhs
src/subsetEffTest
src/subsetEffTest.hs
